<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Feather</title>
  </head>

  <style>
      @import url(http://fonts.googleapis.com/css?family=Roboto:400,500,900,700);

    body {
      font-family: 'Roboto', sans-serif;
    }

  </style>

  <body>

    <h2>Game Feather</h2>
    <p>
      Welcome to Game Feather. We are an aggregator site for the news of video games. Currently we are under development and only have news from the main Valve games.
    </p>

  </body>
</html>
